# Server
PORT=8080
NODE_ENV=development

# Security
CORS_ORIGIN=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Databases
MONGO_URI=
POSTGRES_URI=
REDIS_URL=

# ==== CLOUDINARY CONFIG ====
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=